body{
    margin: 0;
    border: 0;
    padding: 0;
    background: url(../images/chopping_board.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  /* ----------------- buttons for new ingredient and meal  -------------------- */

#new-item-buttons{
    margin-left: 10vw;
    width: 70vw;
}


.new-item-button:hover{
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.new-item-button:active{
    color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 0px 0px grey;
}

.new-item-button{
    font-family: cursive;
    background-color: transparent;
    width: 22vw;
    height: 10vh;
    margin-top: 3vh;
    border: 1px solid rgb(88, 88, 88);
    color: rgb(88, 88, 88);
    box-shadow: 0px 0px 0px 0px grey;
    font-size: 24px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-width: 170px;

    /* display:inline-block; */
}

.new-item-button:focus {outline:0;}


/* ----------------- modals for adding meals and ingredients -------------------- */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgba(255,255,255,0.3);
    margin-top: 13vh;
    margin-right: 0;
    padding: 1vw;
    display: none;
    /* border: 1px solid rgb(88, 88, 88); */
    margin-left: 10vw;
    width: 20vw;
    text-align: center;
  }

  @media (min-width: 1300px){
    .modal-content {
      margin-left: 10vw;
      width: 20vw;
    }
    #new-ingredient-modal {
      /* border: 1px solid rgb(88, 88, 88); */
      margin-left: 10vw;
    }
    #new-meal-modal {
      /* border: 1px solid rgb(88, 88, 88); */
      margin-left: 32vw;
    }
  }

  @media (min-width: 820px) and (max-width: 1299px){
    .modal-content {
      margin-left: 10vw;
      width: 42vw;
    }
    #new-ingredient-modal {
      /* border: 1px solid rgb(88, 88, 88); */
      margin-left: 10vw;
    }
    #new-meal-modal {
      /* border: 1px solid rgb(88, 88, 88); */
      margin-left: 10vw;
    }
  }

  @media (max-width: 819px){
    .modal-content {
      margin-left: 10vw;
      width: 328px;
    }
    #new-ingredient-modal {
      /* border: 1px solid rgb(88, 88, 88); */
      margin-left: 10vw;
    }
    #new-meal-modal {
      /* border: 1px solid rgb(88, 88, 88); */
      margin-left: 10vw;
    }
  }

  /* @media (max-width: 699px){
  } */
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #ingredient-input-ac{
    /* float: bottom;
    display: block; */
    /* float: left; */
    display: block;
    align-items: center;
  }

  #ingredient-input-ac li:hover{
    cursor: pointer;
  }
  .form-input{
    width: 10px;
  }

  /* ----------------------- Ingredient Selection ---------------------------- */

  #ingredient-selector{
    right: 0;
    top: 40%;
    position: fixed;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    min-height: 300px;
    border: 1px solid rgb(88, 88, 88,0.3);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  #display-control{
    writing-mode: vertical-lr;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    order:1;
    background-color: rgb(88, 88, 88,0.3);
  }

  #display-control:hover{
    cursor: pointer;
  }

  #display-control-text{
    transform: rotate(180deg);
    text-align: center;

  
  }
  #ingredient-selector-content{
    order:2;
    text-align: center;
    min-width: 20vw;
    margin-left: 5px;
    /* display: initial; */
  }
  @media (max-width: 900px){
    #ingredient-selector-content[style]{
      display: none !important;
    }
  }

 #select-ingredient{
    background-color: rgba(255,255,255,0.6);
    width: 15vw;
    height: 4vh;
    font-size: medium;
    border:none;
 }

 #ac-suggestions li:hover {
    cursor: pointer;
 }

 #select-ingredient:focus{
    outline:0;
}

  .ui-helper-hidden-accessible{ 
      display: none;
    }

    /* -------------------- Meal Result Table ------------------------------- */

.meal-card{
    height:5vw;
    /* min-width: 300px; */
    /* min-height: 70px; */
    font-size: 1.5vw;
    display: block;
    border: 1px solid black;
    box-shadow: 2px 2px 0 0 rgb(88, 88, 88);
    margin-bottom: 1vh;
    line-height: 100%;
    display: flex;
    line-height: 5vw;
    overflow-y: scroll;
}


.meal-card div{
    text-align: center;
    margin-left: 1.3vw;
    vertical-align: middle;
    display: inline-block;
    font-family: cursive;
    width: 25%;

}

.meal-card-content{
    line-height: 1.8;
}

#meal-card-title{
    font-weight: 250;
}

#meal-card-container{
    width: 50vw;
    margin-left: 20vw;
    margin-top: 20vh;
}

@media (max-width: 900px){
  #meal-card-container{
    width: 80vw;
    margin-left: 5vw;
  }
  .meal-card{
    font-size: 2vw;
    line-height: 10vw;
    height:10vw;
  }
  .meal-card-content{
    line-height: 2.5;
}
}