{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

</head>
<script src="{% static '/js/main.js' %}"></script>
<body>
    <img id='hero-image' src="{% static '/images/food_hero_image_2.jpg' %}" alt="Hero Image">
    <div id=books>
        <div id='book-1' class="book">
            <div class="back"></div>
            <div class="page6"></div>
            <div class="page5"></div>
            <div class="page4"></div>
            <div class="page3"></div>
            <div class="page2"></div>
            <div class="page1"></div>
            <div class="front">Open Cookbook</div>
        </div>
        <div id='book-2' class="book">
            <div class="back"></div>
            <div class="page6">Test</div>
            <div class="page5"></div>
            <div class="page4"></div>
            <div class="page3"></div>
            <div class="page2"></div>
            <div class="page1"></div>
            <div class="front"></div>
        </div>
        <div id='book-3' class="book">
            <div class="back"></div>
            <div class="page6">Test</div>
            <div class="page5"></div>
            <div class="page4"></div>
            <div class="page3"></div>
            <div class="page2"></div>
            <div class="page1"></div>
            <div class="front"></div>
        </div>
    </div>
    <!-- <img id='spinning-wheel' src="{% static '/images/spinning_wheel_1.png' %}" alt="Spinning Wheel">
    <div id='new-item-buttons'>
        <button id='new-item-button'> Meal Picker </button> <br>
        <button onclick='addIngredient()' id='new-item-button'> New Ingredient</button> <br>
        <button id='new-item-button'> New Meal</button> <br>
    </div> -->
</body>