{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

</head>
<body> 
    <!-- buttons for adding meals and ingredients -->
    <div id='new-item-buttons'>
        <button onclick='popUpToggle(this.id)' class='new-item-button' id='new-ingredient-button'> New Ingredient</button><!--
     --><button onclick='popUpToggle(this.id)' class='new-item-button' id='new-meal-button'> New Meal</button>
    </div>
    <!-- The Modal PopUp for adding ingredients-->
    <div id="new-items-modal" class="modal">
        <!-- Modal content -->
        <div id='new-ingredient-modal' class="modal-content">
            <span onclick='closeModal()' class="close">&times;</span>
            <form id='new-ingredient-form' class='form' action="/process_ingredient_form/" method="post">
                {% csrf_token %}
                <h3> Add Ingredient</h3>
                <div id='popup'></div>
                <table class='form-table'>
                    <tr>
                        <td class='form-label'>Name: </td>
                        <td class='form-input'> {{ ingredient_form.name }} </td>
                    </tr>
                    <tr>
                        <td class='form-label'>Calories: </td>
                        <td class='form-input'> {{ ingredient_form.calories_per_unit }} </td>
                    </tr>
                    <tr>
                        <td class='form-label'>Protein: </td>
                        <td class='form-input'> {{ ingredient_form.protein_per_unit }} </td>
                    </tr>
                    <tr>
                        <td class='form-label'>Carbs: </td>
                        <td class='form-input'> {{ ingredient_form.carbs_per_unit }} </td>
                    </tr>
                    <tr>
                        <td class='form-label'>Fat: </td>
                        <td class='form-input'> {{ ingredient_form.fat_per_unit }} </td>
                    </tr>
                    <tr>
                        <td class='form-label'>Staple Ingredient? </td>
                        <td class='form-input'> {{ ingredient_form.is_staple }} </td>
                    </tr>
                </table>
                <input class='form-submit' type="submit" value="Submit">
            </form>
        </div>
        <!-- The Modal PopUp for adding meals-->
        <!-- Modal content -->
        <div id='new-meal-modal' class="modal-content">
            <span onclick='closeModal()'  class="close">&times;</span>
            <form id='new-meal-form' class='form' action="/process_meal_form/" method="post">
                {% csrf_token %}
                <h3> Add Meal</h3>
                <div id='popup'></div>
                <table class='form-table'>
                    <tr>
                        <td class='form-label'>Name: </td>
                        <td class='form-input'> {{ meal_form.name }} </td>
                    </tr>
                    <tr>
                        <td class='form-label'>Instructions: </td>
                        <td class='form-input'> {{ meal_form.instructions }} </td>
                    </tr>
                    <tr>
                        <td class='form-label'>Ingredients: </td>
                        <td id='ingredient-input-row' class='form-input'> <input type='text' id='ingredient-input' name="search-ingredient" onkeyup="searchIngredientAddMeal()"/></td>
                        <td><button type="button" onclick='addIngredient()'>Add</button></td>
                    </tr>
                    <tr>
                        <td class='form-label'>Star Rating: </td>
                        <td class='form-input'> {{ meal_form.star_rating }} </td>
                    </tr>
                    <tr>
                        <td class='form-label'>Minutes: </td>
                        <td class='form-input'> {{ meal_form.minutes }} </td>
                    </tr>
                </table>
                <input class='form-submit' type="submit" value="Submit">
            </form>
            <ul id='ingredient-input-ac'></ul>
            <div id='selected-ingredients'>
                <h4 id='selected-ingredients-header'>Selected Ingredients</h4>
                <div id='selected-ingredients-content'></div>
            </div>
        </div>
    </div>
    <div id='meal-card-container'></div>
    <div id='ingredient-selector'>
        <div onclick="toggelIngredientSelector()" id='display-control'>
            <span id='display-control-text'>Toggle</span>
        </div>
        <div id='ingredient-selector-content'>
            <h3>Select Available Ingredients</h3>
            <input type="text" name="search-ingredient" id="select-ingredient" onkeyup="searchIngredientAutoComplete()" />
            <ul onclick='selectIngredient()' id='ac-suggestions'>
            </ul>
            <div id='selected_ingredients'></div>
            <button onclick='findMeals()'>Find Meals</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static '/js/main.js' %}"></script>
    <script src="{% static '/js/popup.js' %}"></script>
    <script src="{% static '/js/get_meals.js' %}"></script>
    <script src="{% static '/js/autocomplete_ingredients.js' %}"></script>
    <script src="{% static '/js/ingredient_selector_toggle.js' %}"></script>
    <script src="{% static '/js/add_meal_modal.js' %}"></script>
</body>