<form id='new-ingredient-form' class='form' action="/process_ingredient_form/" method="post">
    {% csrf_token %}
    <h3> Add Ingredient</h3>
    <div id='popup'></div>
    <table class='form-table'>
        <tr>
            <td class='form-label'>Name: </td>
            <td class='form-input'> {{ ingredient_form.name }} </td>
        </tr>
        <tr>
            <td class='form-label'>Calories: </td>
            <td class='form-input'> {{ ingredient_form.calories_per_unit }} </td>
        </tr>
        <tr>
            <td class='form-label'>Protein: </td>
            <td class='form-input'> {{ ingredient_form.protein_per_unit }} </td>
        </tr>
        <tr>
            <td class='form-label'>Carbs: </td>
            <td class='form-input'> {{ ingredient_form.carbs_per_unit }} </td>
        </tr>
        <tr>
            <td class='form-label'>Fat: </td>
            <td class='form-input'> {{ ingredient_form.fat_per_unit }} </td>
        </tr>
        <tr>
            <td class='form-label'>Staple Ingredient? </td>
            <td class='form-input'> {{ ingredient_form.is_staple }} </td>
        </tr>
        <input class='form-submit' type="submit" value="Submit">
    </table>
</form>

<script src="{% static '/js/popup.js' %}"></script>